.game-canvas {
  border: 1px dashed;
  margin: auto;
  display: block;
}

#start-screen {
  text-align: center;
  margin: auto;
  display: block;
  padding-bottom: 20px;
}

#end-screen {
  text-align: center;
  margin: auto;
  display: block;
  padding-bottom: 20px;
}
